.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background: transparent;
  }
  
  .brand-name {
    font-size: 24px;
    color: white;
  }
  
  .sign-up-button {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  